<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>580837418416-bol45ji5nf0hk1iasvq4nnpi6oe6imrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580837418416-bol45ji5nf0hk1iasvq4nnpi6oe6imrq</string>
	<key>API_KEY</key>
	<string>AIzaSyD1RdabnxMW6F8O8CNb_wilGKzVdieZFfI</string>
	<key>GCM_SENDER_ID</key>
	<string>580837418416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielm.brewrec</string>
	<key>PROJECT_ID</key>
	<string>brewrec-e259c</string>
	<key>STORAGE_BUCKET</key>
	<string>brewrec-e259c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580837418416:ios:ede547699ebc6ea8</string>
	<key>DATABASE_URL</key>
	<string>https://brewrec-e259c.firebaseio.com</string>
</dict>
</plist>